/*asap*/@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
.clock {
    position: absolute;
    margin-top: 160px;
    display: flex;
    width: 220px;
}
.time {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}
.date {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
    justify-content: flex-end;
}
.time h2,h3 {
    color: rgba(0, 0, 0, 0.425);
    font-family: "Asap", sans-serif;
}
.date h3,h5 {
    color: rgba(0, 0, 0, 0.425);
    font-family: "Asap", sans-serif;
}
.climate {

}
.climate img {
    height: 40px;
}